// В этом файле должны быть стили для БЭМ-блока social, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.social {
  $block-name: &; // #{$block-name}__

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;

  &__link-wrap {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__link--fb {
    background-image: url(../img/fb.png);
  }

  &__link--ins {
    background-image: url(../img/ins.png);
  }

  &__link--vk {
    background-image: url(../img/vk.png);
  }
}
