section.content__item.about(id = 'section-1', data-id = 'section-1')
  .about__inner
    .about__items
      .about__item
        h2.content__title
          span  О нас
        p.about__info
          strong Вам предстоит деловая поездка? #[br] Приезжаете с детьми в медицинский центр? #[br] Или планируете мероприятие в Москве группой? #[br] Такие Гости чаще всего выбирают нас!
        p.about__info Откройте для себя тихое, уединенное, но доступное место для проживания в современном мегаполисе!
        p.about__info Гостиница «Покровское-Стрешнево» идеально расположена, в
          span   20 минутах езды до центра Москвы.
          |  Рядом – старинный парк, где находится усадьба династии Романовых. Сюда любила приезжать императрица Екатерина II. Лев Толстой познакомился здесь со своей будущей супругой  Софьей, а историк Николай Карамзин создал знаменитое произведение «История государства Российского». #[br]Жемчужиной парка является родник «Царевна-Лебедь» - единственный   экологически чистый источник в черте Москвы, вода которого обладает целебной силой.
        p.about__info Завершив свои дела, наши Гости с удовольствием возвращаются в гостиницу, чтобы насладиться атмосферой тишины и спокойствия, отдохнуть на природе и ощутить энергию этих мест.
        p.about__info
          span COVID-19 Соблюдения противовирусных мер
        +btn('Забронировать', 'green')(href='#', class='about__btn')