section.content__item.advantage(id = 'section-3', data-id = 'section-3')
  h2.content__title
    span В чем преимущество гостиницы «Покровское-Стрешнево»?
  p.advantage__info Представьте себе, как приятно ощущать себя в городе и одновременно за его пределами! Быстро добираться до нужной цели и с удовольствием возвращаться в атмосферу тишины и уюта!
    span  Все это доступно в гостинице «Покровское-Стрешнево»!
  .advantage__items
    .advantage__item.advantage__item--1
      h3.advantage__item-title Приятные #[br] цены
      p.advantage__info От 1500 рублей на человека. Это отличный способ сэкономить, отправляясь в командировку, посещая группой мероприятия в Москве или путешествуя семьей с детьми
    .advantage__item.advantage__item--2
      h3.advantage__item-title Удобное #[br] расположение
      p.advantage__info 5 минут езды до метро «Щукинское», 30 минут до аэропорта «Шереметьево» и Казанского вокзала, 20 минут до сердца столицы – Кремля
        strong Для групп (от 5 человек) - бесплатный трансфер!
    .advantage__item.advantage__item--3
      h3.advantage__item-title Комфортное #[br] пребывание с детьми
      p.advantage__info В гостинице оборудована бесплатная детская комната. По Вашему запросу мы предоставляем детские кроватки совершенно бесплатно!!!
    .advantage__item.advantage__item--4
      h3.advantage__item-title Ранний #[br] заезд
      p.advantage__info С 9 часов утра без дополнительной платы Экономия минимум 1500 рублей!
    .advantage__item.advantage__item--5
      h3.advantage__item-title Вкусная #[br] кухня
      p.advantage__info Вкусные и разнообразные блюда славянской кухни
    .advantage__item.advantage__item--6
      h3.advantage__item-title Дополнительные #[br] услуги
      p.advantage__info Бесплатная парковка, бесплатный Wi-Fi, ресторан, бильярд, конференц-зал для проведения деловых встреч
  .advantage__btn-wrap
    +btn('Хочу забронировать', 'green')(href='#', class='advantage__btn')