section.content__item.apartment(id = 'section-2', data-id = 'section-2')
  .apartment__inner
    h2.content__title
      span Наши номера
    p.apartment__info  Стандартные номера в нашей гостинице соединены одним общим коридором, поэтому в них комфортно проживать группой: семьей с детьми, коллегами по работе или друзьями!
    p.apartment__info  Создается ощущение уюта, теплой и домашней атмосферы, в которой так приятно проводить время вместе!
    .apartment__slider
      span.apartment__slogan Максимальная экономия денежных средств
      h3.apartment__title Стандартный одноместный номер #[br] 2 категории