section.content__item.apartment(id = 'section-2', data-id = 'section-2')
  .apartment__inner
    h2.content__title
      span.content__title-text Наши номера
      span.content__title-icon.apartment__title-icon
    p.apartment__info  Стандартные номера в нашей гостинице соединены одним общим коридором, поэтому в них комфортно проживать группой: семьей с детьми, коллегами по работе или друзьями!
    p.apartment__info  Создается ощущение уюта, теплой и домашней атмосферы, в которой так приятно проводить время вместе!

    .apartment__slider
      span.apartment__slogan Максимальная экономия денежных средств
      .apartment__top
        h3.apartment__title Стандартный одноместный номер #[br] 2 категории
        +btn('Подробнее')(href='#')
      .apartment__slider-content-wrapper
        .apartment__slider-content#slider-1
          .apartment__slider-item
            img(src='img/apartment-1.jpg', alt='apartment-1')
          .apartment__slider-item
            img(src='img/apartment-2.jpg', alt='apartment-2')
          .apartment__slider-item
            img(src='img/apartment-3.jpg', alt='apartment-4')
          .apartment__slider-item
            img(src='img/apartment-4.jpg', alt='apartment-4')
          .apartment__slider-item
            img(src='img/apartment-2.jpg', alt='apartment-5')
        button.apartment__arrow.apartment__arrow--next#apartment-next-1(type='button')
        button.apartment__arrow.apartment__arrow--prev#apartment-prev-1(type='button')

    .apartment__slider
      span.apartment__slogan Сдержанная удобная простота
      .apartment__top
        h3.apartment__title Стандартный улучшенный одноместный номер #[br] 1 категории
        +btn('Подробнее')(href='#')
      .apartment__slider-content-wrapper
        .apartment__slider-content#slider-2
          .apartment__slider-item
            img(src='img/apartment-1.jpg', alt='apartment-1')
          .apartment__slider-item
            img(src='img/apartment-2.jpg', alt='apartment-2')
          .apartment__slider-item
            img(src='img/apartment-3.jpg', alt='apartment-4')
          .apartment__slider-item
            img(src='img/apartment-4.jpg', alt='apartment-4')
          .apartment__slider-item
            img(src='img/apartment-2.jpg', alt='apartment-5')
        button.apartment__arrow.apartment__arrow--next#apartment-next-2(type='button')
        button.apartment__arrow.apartment__arrow--prev#apartment-prev-2(type='button')

    .apartment__slider
      span.apartment__slogan Максимальная экономия для Вашей
      .apartment__top
        h3.apartment__title Стандартный двухместный номер #[br] 2 категории
        +btn('Подробнее')(href='#')
      .apartment__slider-content-wrapper
        .apartment__slider-content#slider-3
          .apartment__slider-item
            img(src='img/apartment-1.jpg', alt='apartment-1')
          .apartment__slider-item
            img(src='img/apartment-2.jpg', alt='apartment-2')
          .apartment__slider-item
            img(src='img/apartment-3.jpg', alt='apartment-4')
          .apartment__slider-item
            img(src='img/apartment-4.jpg', alt='apartment-4')
          .apartment__slider-item
            img(src='img/apartment-2.jpg', alt='apartment-5')
        button.apartment__arrow.apartment__arrow--next#apartment-next-3(type='button')
        button.apartment__arrow.apartment__arrow--prev#apartment-prev-3(type='button')

    .apartment__slider
      span.apartment__slogan Экономия и комфорт для группы
      .apartment__top
        h3.apartment__title Улучшенный стандартный  двухместный номер #[br] 1 категории
        +btn('Подробнее')(href='#')
      .apartment__slider-content-wrapper
        .apartment__slider-content#slider-4
          .apartment__slider-item
            img(src='img/apartment-1.jpg', alt='apartment-1')
          .apartment__slider-item
            img(src='img/apartment-2.jpg', alt='apartment-2')
          .apartment__slider-item
            img(src='img/apartment-3.jpg', alt='apartment-4')
          .apartment__slider-item
            img(src='img/apartment-4.jpg', alt='apartment-4')
          .apartment__slider-item
            img(src='img/apartment-2.jpg', alt='apartment-5')
        button.apartment__arrow.apartment__arrow--next#apartment-next-4(type='button')
        button.apartment__arrow.apartment__arrow--prev#apartment-prev-4(type='button')

    .apartment__slider
      span.apartment__slogan Повышенный комфорт, продуманный до мелочей
      .apartment__top
        h3.apartment__title Джуниор Сюит – #[br] двухкомнатный номер
        +btn('Подробнее')(href='#')
      .apartment__slider-content-wrapper
        .apartment__slider-content#slider-5
          .apartment__slider-item
            img(src='img/apartment-1.jpg', alt='apartment-1')
          .apartment__slider-item
            img(src='img/apartment-2.jpg', alt='apartment-2')
          .apartment__slider-item
            img(src='img/apartment-3.jpg', alt='apartment-4')
          .apartment__slider-item
            img(src='img/apartment-4.jpg', alt='apartment-4')
          .apartment__slider-item
            img(src='img/apartment-2.jpg', alt='apartment-5')
        button.apartment__arrow.apartment__arrow--next#apartment-next-5(type='button')
        button.apartment__arrow.apartment__arrow--prev#apartment-prev-5(type='button')

    .apartment__slider
      span.apartment__slogan Повышенный комфорт, продуманный до мелочей
      .apartment__top
        h3.apartment__title Джуниор Сюит – #[br] двухкомнатный номер
        +btn('Подробнее')(href='#')
      .apartment__slider-content-wrapper
        .apartment__slider-content#slider-6
          .apartment__slider-item
            img(src='img/apartment-1.jpg', alt='apartment-1')
          .apartment__slider-item
            img(src='img/apartment-2.jpg', alt='apartment-2')
          .apartment__slider-item
            img(src='img/apartment-3.jpg', alt='apartment-4')
          .apartment__slider-item
            img(src='img/apartment-4.jpg', alt='apartment-4')
          .apartment__slider-item
            img(src='img/apartment-2.jpg', alt='apartment-5')
        button.apartment__arrow.apartment__arrow--next#apartment-next-6(type='button')
        button.apartment__arrow.apartment__arrow--prev#apartment-prev-6(type='button')
