.banner
  .banner__inner
    .banner__inner-content
      p.banner__slogan Место силы среди городской суеты...
      h1 Гостиница #[br] Покровское-Стершнево
      a.banner__link(href='#') Бронировать сейчас
      .banner__btn-wrapper
        +btn('Специальные предложения', 'brown')(href='#')
        +btn('Забронировать', 'green')(href='#')
    ul.banner__list
      li.banner__list-item
        span Booking #[br] 8,1
      li.banner__list-item
        span 101 hotels #[br] 8,9
      li.banner__list-item
        span 180 #[br] номеров
      li.banner__list-item
        span Комфорт #[br] и уют
      li.banner__list-item
        span 15 лет #[br] на рынке
      li.banner__list-item
        span Более 1000 постоянных гостей
