section.content__item.contacts(id = 'section-7', data-id = 'section-7')
  .contacts__inner
    .contacts__items
      .contacts__info
        h2.content__title
          span.content__title-text Контакты
          span.content__title-icon.contacts__title-icon
        a.contacts__phone(href='tel:+78002001000')
          img.contacts__phone-icon(src='img/phone.png' alt='phone-icon')
          | 7 800 200 100 0
        address.contacts__address
          img.contacts__marker-icon(src='img/marker.png' alt='marker')
          | Москва, Волоколамское ш., 30, c. 1
      .contacts__map
    .contacts__get
      h2.content__title
        span.content__title-text Как добраться до гостиницы?
        span.content__title-icon.contacts__title-icon--mod
      h3.contacts__title От Казанского вокзала
      ul.contacts__list
        li.contacts__text На метро от станции
          span  Комсомольская
          |   до станции
          span  Щукинская
          |. #[br] От станции метро Щукинская 15 минут пешком до гостиницы, #[br] или 3 остановки на трамвае
          span  №15, 28,30,31,
          |   остановка
          span  ул. Академика Курчатова
          | .
        li.contacts__text На метро от станции
          span  Комсомольская
          |  до станции
          span  Сокол
          |. #[br] Проезд от м. Сокол до гостиницы: троллейбусы:
          span  70, 82
          |  остановка
          span  Покровское-Стрешнево
          |  . #[br] Автобусы
          span  №412, 456, 456К, М1
          |. 5 остановок.
      h3.contacts__title От аэропортов Москвы на Аэроэкспрессах до ж/д вокзалов
      ul.contacts__list
        li.contacts__text Аэропорт
          span  «Шереметьево»
          |  - Белорусский вокзал, станция метро
          span  «Белорусская»
          |. #[br] От станции метро «Белорусская» до станции метро
          span  «Сокол»
          |. #[br] Далее от метро Сокол до гостиницы: троллейбусы:
          span  70, 82
          |  остановка
          span  Покровское-Стрешнево
          |. #[br] Автобусы
          span  №412, 456, 456К, М1
          |.
        li.contacts__text Аэропорт
          span  Домодедово – Павелецкий вокзал
          |   , станция метро
          span  «Павелецкая»
          |. #[br] От станции метро «Повелецкая» до станции метро
          span  «Сокол»
          |   или
          span  «Щукинская»
          |. #[br] Аэропорт
          span  «Внуково»
          |  - Киевский вокзал, станция метро
          span  «Киевская»
          |. #[br] От метро «Киевская» до станции метро
          span  «Щукинская»
          |  или
          span  «Сокол»
          |.