section.content__item.visit
  h2.content__title
    span.content__title-text  Что посетить рядом?
    span.content__title-icon.visit__title-icon
  .visit__items-top
    .visit__item
      img(src='img/visit-1.jpg', alt='visit-1')
      span Парк #[br] «Покровское-Стрешнево»
    .visit__item
      img(src='img/visit-2.jpg', alt='visit-2')
      span Храм Покрова #[br] Пресвятой Богородицы
    .visit__item
      img(src='img/visit-3.jpg', alt='visit-3')
      span Мемориальный дом-музей #[br] академика И.В. Курчатова
  .visit__items
    .visit__item
      img(src='img/visit-4.jpg', alt='visit-4')
      span Театр танца #[br] «Гжель»
    .visit__item
      img(src='img/visit-5.jpg', alt='visit-5')
      span Стадион #[br] «Открытие-Арена»
