-
  var mainMenu = [
    {
      "id": "1",
      "name": "О нас",
      "url": "#section-1"
    },
    {
      "id": "2",
      "name": "Номера",
      "url": "#section-2"
    },
    {
      "id": "3",
      "name": "Услуги",
      "url": "#section-3"
    },
    {
      "id": "4",
      "name": "Ресторан",
      "url": "#section-4"
    },
    {
      "id": "2",
      "name": "Бронирование",
      "url": "#section-2"
    },
    {
      "id": "6",
      "name": "Отзывы",
      "url": "#section-6"
    },
    {
      "id": "7",
      "name": "Контакты",
      "url": "#section-7"
    }
  ];
