include ../pug/helpers/mixins
include ../pug/helpers/blocks-mixins

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title Гостиница Покровское-Стершнево
    //- include ../pug/modules/head
    link(href='css/style.css' rel='stylesheet')
  body
    header.page-header
      include ../pug/modules/nav
    include ../pug/modules/banner
    main.content
      include ../pug/modules/about
      include ../pug/modules/advantage
      include ../pug/modules/apartment
      include ../pug/modules/reviews
      include ../pug/modules/contacts
      include ../pug/modules/visit
    include ../pug/modules/footer
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCrab8ghtxMkx_Zn8D31Kum_yJEWfdJkXU')
    script(src='js/vendors~app.js')
    script(src='js/app.js')
