// В этом файле должны быть стили для БЭМ-блока nav-menu, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.nav-menu {
  $block-name: &; // #{$block-name}__element

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  @media (max-width: $menu-desktop-width - 0.1) {
    min-height: 110px;
  }

  &__toggle {
    outline: none;

    @media (min-width: $menu-desktop-width) {
      display: none;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    @media (max-width: $menu-desktop-width - 0.1) {
      flex-grow: 0;
    }
  }

  &__phone {
    font-weight: 700;
    margin-left: auto;
    color: $green;

    @media (max-width: $screen-md - 0.1) {
      font-size: 0;
      line-height: 0;
    }

    &:hover,
    &:focus {
      color: $green;
    }
  }

  &__phone-icon {
    width: 24px;
    height: 34px;

    @media (min-width: $screen-md) {
      display: none;
    }
  }

  &__list {
    @media (max-width: ($menu-desktop-width - 0.1)) {
      position: absolute;
      display: block;
      top: 110px;
      left: -1000px;
      z-index: 100;
      opacity: 0;
      background-color: $white;
      transition: all $transition-time;

      #{$block-name}--open & {
        right: 0;
        left: 0;
        opacity: 1;
      }
    }
  }
}
